<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    
    <nav class="navbar">
      <!-- {% for user in user %} -->
        <div class="logo"></div>
      <!-- {% endfor %} -->
      <ul class="nav-links">
        <div class="menu">
          <li><a href="/crea">Crea</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
      
    <form method="post" class="post" action="/dashboard" enctype="multipart/form-data">
        {% for user in user %}
        <div>
          <h1 class="user">Sei loggato come: <h1>{{ user.username}}</h1></h1>
        </div>
        {% endfor %}
    </form>
  </body>
</html>
