<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <nav>
        <form method="post" class="post" action="/dashboard" enctype="multipart/form-data">
            
            <div class="form-titolo">
                <label for="titolo">Titolo</label><br>
                <input type="text" name="titolo" placeholder="Inserisci il titolo" value="{{ request.form['titolo'] }}" required><br>
            </div>
            
            <div class="form-info">
                <label for="info">Info</label><br>
                <textarea name="info" placeholder="Inserisci le info" required>{{ request.form['info'] }}</textarea><br>
            </div>
            
            <div>
              <input type="file" name="file" />
              <br /><br />
              <input type="submit" />
              <input type="reset" />
            </div>
            
            <div><br>
              <a href="/logout">Logout</a>
            </div>
            
            <div style="display: flex;" class="row animate__animated animate__fadeIn" id="box">
              {% for post in posts %}
              <div class="card mt-5 m-lg-5" style="width: 18rem">
                <a class="ricetta">
                  <img src="../static/img/{{ post.filename }}" alt="torta" class="card-img-top" />
                  <div class="card-body">
                    <h5 class="card-title">{{ post.titolo }}</h5>
                    <p class="card-text">{{ post.info }}.<br /></p>
                    <form action="{{ post.id }}/delete" method="POST">
                      <button type="submit" class="btn">Elimina</button>
                    </form>
                  </div>
                </a>
              </div>
              {% endfor %}
             </div>
             
        </form>
      </nav>
  </body>
  <style>
    .post{
      text-align: center;
    }

    .form-titolo{
      margin-top: 50px;
    }
    
    .form-info{
      margin-top: 20px;
    }

    </style>
</html>
