<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Crea</title>
  </head>
  <body>
    <nav class="navbar">
      {% for user in user %}
        <div class="logo">User: {{ user.username }}</div>
      {% endfor %}
      <ul class="nav-links">
        <div class="menu">
          <li><a href="/crea">Crea</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
      
        <form method="post" class="post" action="/crea" enctype="multipart/form-data">
          
          <h1 class="posts-post">Crea post:</h1>

              <div class="form-titolo">
                  <label for="titolo">Titolo</label><br>
                  <input class="border" type="text" name="titolo" placeholder="Inserisci il titolo" value="{{ request.form['titolo'] }}" required><br>
              </div>
              
              <div class="form-info">
                  <label for="info">Info</label><br>
                  <textarea class="border" name="info" placeholder="Inserisci le info" required>{{ request.form['info'] }}</textarea><br>
              </div>
              
              <div>
                <input type="file" name="file" class="file" />
                <br /><br />
                <div class="invia"> 
                  <input type="submit" />
                  <input type="reset" />
                </div> 
              </div>
        </form>
      </nav>
  </body>
</html>
